body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(wwd3.webp);
    background-size: cover;
    overflow: hidden;
    display: flex;
}


nav {
    background-color: #fff5ec;
    overflow: hidden;

}
.logo{
    float: left;
}
nav::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #333;
    margin-top: 7%;
}
nav a[href="Signup.html"]::after {
    content: "|";
    color:#333; 
    padding: 30%;
    font-weight: bolder;
    
}
nav a {
    float: left;
    display: block;
    color: #2a464f;
    text-align: center;
    padding: 50px 20px;
    text-decoration: none;
    
}
nav a:hover {
    color: #a3f2ea;
}

/* Section Styles */
section {
    padding: 20px;
    margin: 20px;
}

#about-us {
    background-color: #f4f4f4;
    padding: 20px;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
/* Simple Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Search Bar */
#search-bar {
    width: 20%;
    padding: 5px;
    font-size: 16px;
    margin-left: 80%;
    border-radius: 10px;


}

/* Donation Items */
.donation-item {
    background-color: #fff5ec;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 15px;
    width: 300px;
}

.donation-item h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.donation-item p {
    color: #555;
}

/* No results message */
#no-results {
    color: red;
    display: none;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
